/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22. apr. 2020, 09.07.57
    Author     : tramm
*/
AnchorPane
{
  -fx-background-color: #435A9A;
}

Pane
{
  -fx-background-color: #f4f4f4;  
}  
  JFXButton
{
    -fx-background-color: #ffffff;
}
MenuBar
{
  -fx-background-color: #e7e7e7;  
}
JFXListView
{
  -fx-background-color: #e7e7e7;  
}

JFXComboBox
{
  -fx-background-color: #e7e7e7;  
}
Label
{
  -fx-text-fill: #f4f4f4;
  -fx-font-family: "Caveat"; 
  
}

Pane
{

    -fx-background-color: #6ea3ff
}
        Text
        {-fx-background-color: #6ea3ff;}

    


